.actions-container {
  text-align: right;
  margin: auto;
  margin-right: 0;
  width: 60%;
}
mat-paginator {
  font-size: 12px;
}
mat-form-field {
  margin: 0 2% 0 2%;
  width: 30%;
}
mat-horizontal-stepper {
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  margin: auto;
  border-radius: 10px;
}
#header-info-container {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 50%;
  padding: 0
}
countdown {
  font-size: 40px
}