<h1 style="margin-top: 2%" class="text-center text-primary">Ahorcado</h1>
<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="selectedWord !== undefined">
    <ng-template matStepLabel>Selección de palabra</ng-template>
    <div class="container">
      <mat-list role="list">
      <div class="container text-center">
        <mat-form-field>
          <input [(ngModel)]="filterargs" matInput type="text" placeholder="Buscar una palabra">
        </mat-form-field>
        <mat-form-field>
          <input #insertWord matInput type="text" placeholder="Ingresar una palabra">
        </mat-form-field>
        <button (click)="words.unshift(insertWord.value)" [disabled]="!insertWord.value" mat-button><mat-icon>add</mat-icon></button>
      </div>
      <mat-list-item *ngFor="let w of words | paginate: { itemsPerPage: 30, currentPage: p } | searchWord:filterargs; let i = index" role="listitem">
        <div>
          {{w}}
        </div>
        </mat-list-item>
      </mat-list>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <hr>
    <div class="text-center container">
      <button mat-raised-button color="primary" (click)="genRandom()"><mat-icon>shuffle</mat-icon></button>
    </div>
    <h2 class="text-center text-secondary" *ngIf="hiddenWord"><span class="text-primary">Palabra a adivinar</span><br>{{hiddenWord}}</h2>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Jugar</ng-template>
    <form *ngIf="selectedWord; else selectWordFirst" class="container text-center" [formGroup]="hangedFG">
      <div class="text-right container">
        <h2 id="lifes-header"><span class="text-danger">Vidas: </span>{{lifes}}</h2>
      </div>
      <h2 class="text-center text-secondary" *ngIf="hiddenWord"><span class="text-primary">Palabra a adivinar</span><br>{{hiddenWord}}</h2>
      <br>
      <mat-form-field>
        <input pattern="/^[a-zA-Z\s]*$/" (keyup.enter)="onSubmit()" matInput maxlength="1" [formControl]="hangedFG.get('word')" placeholder="Inserte una letra y presione ENTER" type="text">
      </mat-form-field>
    </form>
    <ng-template #selectWordFirst>
      <div style="margin-top: 15%" class="container">        
        <div class="container text-center">
          <mat-icon class="text-danger" style="font-size: 50px">priority_high</mat-icon>
        </div>
        <h1 class="text-danger text-center">Seleccione una palabra primero</h1>
      </div>
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>