<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Selección de palabra</ng-template>
    <div class="container">
      <mat-list role="list">
      <mat-list-item *ngFor="let w of activePageDataChunk" role="listitem">
        <div>
          {{w}}
        </div>
        <div class="actions-container">
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        </mat-list-item>
      </mat-list>
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)">
      </mat-paginator>
    </div>
    <hr>
    <div class="text-center container">
      <button mat-button (click)="genRandom()"><mat-icon>shuffle</mat-icon></button>
    </div>
    <h2 class="text-center text-secondary" *ngIf="hiddenWord"><span class="text-primary">Palabra a adivinar</span><br>{{hiddenWord}}</h2>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Jugar</ng-template>
    <form class="container text-center" [formGroup]="hangedFG" (ngSubmit)="onSubmit()">
      <div class="text-right container">
        <h2 id="lifes-header"><span class="text-danger">Vidas: </span>{{lifes}}</h2>
      </div>
      <h2 class="text-center text-secondary" *ngIf="hiddenWord"><span class="text-primary">Palabra a adivinar</span><br>{{hiddenWord}}</h2>
      <br>
      <mat-form-field>
        <input matInput maxlength="1" [formControl]="hangedFG.get('word')" placeholder="Inserte una letra" type="text">
      </mat-form-field>
      <div class="container text-center">
        <button type="submit" mat-raised-button color="primary"><mat-icon>done</mat-icon></button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>