<div class="container text-center">
  <h1 *ngIf="data.display" class="text-center text-primary">{{data.message}}</h1>
  <mat-icon style="font-size: 50px">{{data.icon}}</mat-icon>
  <h3 *ngIf="data.display" class="text-secondary">La palabra correcta era: <span class="text-danger"><strong>{{data.word}}</strong></span></h3>
  <h4 *ngIf="!data.display" class="text-secondary">{{data.message}}</h4>
  <hr>
  <div style="margin-bottom: 0" class="container text-center">
    <button color="primary" mat-raised-button (click)="dialogRef.close(true)"><mat-icon>replay</mat-icon></button>
  </div>
</div>