nav {
    //border-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 500
  }
  .active-link {
    color: red !important;
    font-weight: bold;
  }