<div class="container text-left">
  <h3 class="text-primary text-center">Implementación de métodos funcionales</h3>
  <div class="text-center">
    <small class="text-danger"><i>Cada método tiene un link a mi repo de Github</i></small>
  </div>
  <hr>
  <p><a href="https://github.com/JustinCast/Proyecto2Lenguajes/blob/7c7c05a9a6c64ba3909e430eaf8cbf2b35967266/src/app/search-word.pipe.ts#L13"><strong>filter</strong>:</a> filtrado de palabras en el juego del ahorcado</p>
  <p><a href="https://github.com/JustinCast/Proyecto2Lenguajes/blob/7c7c05a9a6c64ba3909e430eaf8cbf2b35967266/src/app/ahorcado-game/ahorcado-game.component.ts#L124"><strong>map</strong>:</a> transformación de la palabra seleccionada a palabra a adivinar</p>
  <p><a href="https://github.com/JustinCast/Proyecto2Lenguajes/blob/7c7c05a9a6c64ba3909e430eaf8cbf2b35967266/src/app/search-word.pipe.ts#L25"><strong>regex</strong>:</a> eliminación de acentos para buscar de una mejor manera la palabra</p>
  <div class="container text-center">
    <small class="text-secondary"><i>Justin A. Castillo V.</i><br>&copy; 2018</small>
  </div>
  <hr>
  <div style="margin-bottom: 0" class="container text-center">
    <button (click)="dialogRef.close(true)" color="primary" mat-button><mat-icon>check</mat-icon></button>
  </div>
</div>