<div class="container text-left">
  <h3 class="text-primary text-center">Implementación de métodos funcionales</h3>
  <hr>
  <p><span><strong>filter</strong>:</span> filtrado de palabras en el juego del ahorcado</p>
  <p><span><strong>map</strong>:</span> transformación de la palabra seleccionada a palabra a adivinar</p>
  <p><span><strong>regex</strong>:</span> eliminación de acentos para buscar de una mejor manera la palabra</p>
  <div class="container text-center">
    <small class="text-secondary"><i>Justin A. Castillo V.</i><br>&copy; 2018</small>
  </div>
  <hr>
  <div style="margin-bottom: 0" class="container text-center">
    <button color="primary" mat-button><mat-icon>check</mat-icon></button>
  </div>
</div>