/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~animate.css/animate.min.css";

html, body{
    background-image: url('./assets/fondo.jpg')
}

#wordfind-container {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 2%;
}

#puzzle-container {
    padding: 20px;
    float: left;
    margin: 0px 20px;
    background-color: rgb(53, 26, 71)
}

#puzzle-container div {
    width: 100%;
    margin: 0 auto;
}
/* style for each square in the puzzle */

#puzzle-container .puzzleSquare {
    height: 30px;
    width: 30px;
    text-transform: uppercase;
    background-color: rgb(53, 26, 71);
    color: white;
    border: 0;
    font: 1em sans-serif;
}

#puzzle-container button::-moz-focus-inner {
    border: 0;
}
/* indicates when a square has been selected */

#puzzle-container .selected {
    background-color: orange;
}
/* indicates that the square is part of a word that has been found */

#puzzle-container .found {
    background-color: blue;
    color: white;
}

#puzzle-container .solved {
    background-color: rgb(156,42,67);
    color: white;
}
/* indicates that all words have been found */

#puzzle-container .complete {
    background-color: green;
}
/**
* Styles for the word list
*/

#puzzle-words {
    background: rgb(132,46,85);
    color: white;
    border-radius: 10px;
    padding: 2%;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    width: 300px;
}

#puzzle-words ul {
    list-style-type: none;
    padding: 0
}

#puzzle-words li {
    padding: 3px 0;
    font: 1em sans-serif;
}
/* indicates that the word has been found */

#puzzle-words .wordFound {
    text-decoration: line-through;
    color: gray;
}
/**
* Styles for the button
*/

#solve {
    margin: 0 30px;
}